@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 600px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

button {
  width: 600px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  width: 100px;
  min-width: 86px;
  margin-top: 0;
  background: yellowgreen;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.messages{
  width: 100%;
  max-width: 600px;
  height: 100%;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 20px;
  overflow-y: auto;
}

.message{
  width: 100%;
  float: left;
}

.message p{
  display: block;
  padding: 15px;
  background: #eaeaea;
  border-radius: 4px;
  margin-top: 15px;
  max-width: 60%;
  float: left;
  font-size: 13px;
  font-weight: normal;
}

.message p strong{
  font-weight: 600;
}

.message.user-message p{
  background: #d9f1d7;
  float: right;
}

.sender{
  display: flex;
  width: 100%;
  max-width: 600px;
}